html *
{
    th {background-color: thistle; border: black solid 1px; text-align: left;
        padding-left: 10px; padding-right: 10px; vertical-align: top;}
    td {background-color: white; border: black solid 1pt; padding-left: 10px;
        padding-right: 10px; vertical-align: top;}
    table {width: 90%; border: 0px; cellpadding: 0px;}
}
#INPUT
{
    border: none;
    color: black;
    font-family: monospace;
    font-size: 1.2pc;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 80%;
    background-color: #C282A5;
}

body { background:url("./img/fondo.jpeg"); }
#OUTPUT
{
    background-color: #66FFCC;
    width: 80%;
}


a {
  font-size: x-large;
  text-decoration:none;
}

a:link { color:#00FFFF; }
a:visited { color:black; }
a:hover{
  background-color:black;
  color: #FFF;
}
a:active {color:#0000FF;}  /* selected link */



nav {
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
}

.mylink {
  background-color: #C282A5;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #551136;
  padding: 5px;
}

#drop_zone{
  width:50%;
  background-color: black;
  color: white;
  padding: 3% 10%;
  text-align: center;
}

#letras {font-size: 160%; color:#A05B81;}
#letrasMenores {color:#FFFFFF;}
h1  { text-align: center; font-size: 300%; color:#FFFFFF}

/* Supress borders after the button is pressed */
#PARSE:focus {outline:0; }
