<h1><font id=letras>A</font>nalizador <font id=letras>L</font>éxico para un <font id=letras>S</font>ubconjunto de <font id=letras>J</font>avaScript </h1>
  <h2><font id=letrasMenores>Input</font></h2>
  <p>
    <font id=letrasMenores>Puede arrastrar su fichero directamente al campo de texto</font>
  </p>
  <textarea id="INPUT">
     var a = "hello"; // initialize a
     var b = function(x) {
             var c = 3;
               return x+c;
             };
  </textarea>
  <br>
  <input id="PARSE" value=Parse type=button class="mylink">
  <input type="file" id="archivo" class="mylink">
  <pre id=OUTPUT></pre>
  <br>
  <p>
    <nav>
      <a href="https://github.com/alu0100716894/Analizador/tree/gh-pages" class="mylink">Repo at GitHub</a>
      <a href="" target="_blank" class="mylink">Heroku</a>
      <a href="http://alu0100716894.github.io/Analizador/tests/" target="_blank" class="mylink">Test</a>
    </nav>
  </p>